PORT=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

REDIS_URI=

JWT_SECRET=
JWT_ISSUER=

KAFKA_BROKERS=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

LOG_LEVEL=

CURRENT_SERVICE=
FRONTEND_URL=
PROBLEM_SERVICE_URL=
API_GATEWAY_SERVICE_URL=
SUBMISSION_SERVICE_URL=
CONTAINER_SERVICE_URL=

DEVELOPMENT_MODE=   
NAMESPACE=
