CURRENT_SERVICE=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=

REDIS_URI=
REDIS_SORTED_SET_NAME=
REDIS_HASHSET_NAME=

KAFKA_BROKERS=
KAFKA_TOPIC=

NOTEBOOKS_BUCKET_NAME=
DATASETS_BUCKET_NAME=
ANSWERS_BUCKET_NAME=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
CLERK_ORGANIZATION_ID=
CLERK_MEMBER_ROLE=
CLERK_PRO_MEMBER_ROLE=
CLERK_ADMIN_ROLE=
CLERK_USER_ROLE=

LOG_LEVEL=

PROBLEM_SERVICE_URL=
API_GATEWAY_SERVICE_URL
SUBMISSION_SERVICE_URL
CONTAINER_SERVICE_URL=

DEVELOPMENT_MODE=
NAMESPACE=

FRONTEND_URL=

NOTEBOOK_DOCKER_IMAGE=
