PORT=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_URI=

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URI=

REDIS_URI=

JWT_SECRET=
JWT_ISSUER=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

LOG_LEVEL=

CURRENT_SERVICE=

PROBLEM_SERVICE_URL=
API_GATEWAY_SERVICE_URL=
SUBMISSION_SERVICE_URL=